<% if urgeMoney != 1 %>
<ul>
  <li>
    <div class="item-inner">
      <div class="item-subtitle">
        <!--
        <strong class="item-l">费用明细</strong>
      </div>
      <div class="item-subtitle">
        <span class="item-l">支付总定金:</span><span><$ totalEarnestMoney $>元</span>
      </div>
      <div class="item-subtitle">
        <span class="item-l">支付总尾款:</span><span><$ totalFinalMoney $>元</span>
      </div>
      <div class="item-subtitle">
        <span class="item-l">支付总销售货款:</span><span><$ totalSaleMoney $>元</span>
      </div>
      <div class="item-subtitle">
        <span class="item-l">支付总税款:</span><span><$ totalTaxMoney $>元</span>
      </div>
      <div class="item-subtitle">
        <span class="item-l">支付总服务费:</span><span><$ totalServiceMoney $>元</span> -->

        <span class="item-l">支付总计:</span><span><$ totalMoney $>元</span>

      </div>
    </div>
  </li>
</ul>
<% endif %>
