// main color
$green: #2fb468!default;

// font color
$c333: #333!default;
$c666: #666!default;
$c999: #999!default;

// support color
$red: #e63939!default;

// background color
$bg-color: #f9f9f9;

// btn-default
$btn-default-bg-color-default: #2fb468;
$btn-default-bg-color-hover: #22c76a;
$btn-default-bg-color-active: #1ba958;
$btn-default-bg-color-disabled: #ddd;

// btn-submit
$btn-submit-bg-color-default: #f6a623;
$btn-submit-bg-color-hover: #fcbc52;
$btn-submit-bg-color-active: #f39f15;
$btn-submit-bg-color-disabled: #ddd;

// link

$link-default-color: #2fb468;
$link-default-bg-color: transparent;
$link-default-bg-color-hover: #22c76a;

