<header class="bar bar-nav">
  <a class="button button-link button-nav pull-left J_back" href="javascript:;">
    <span class="icon icon-left"></span>
    返回
  </a>
  <h1 class='title'> <$ title $> </h1>
  <a href="#" class='button button-fill button-nav pull-right J_add add-seller'>+</a>
</header>
<div class="bar bar-header-secondary">
  <div class="searchbar">
    <div class='tips'>请输入档口名或档口电话</div>
    <a class="searchbar-cancel">取消</a>
    <div class="search-input">
      <label class="icon icon-search" for="search"></label>
      <input type="search" id='search' placeholder='输入关键字...'/>
    </div>
  </div>
</div>
<div class='content J_scroll_dom'>
  <div class="list-block media-list">
    <ul class='J_list_dom'>
    </ul>
  </div>
</div>
