
.login-container
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;

    background-color: #fff;
    .login-bg
    {
        position: absolute;
        bottom: -1px;
        left: 0;

        width: 100%;
		height: 380px;
        background: url('images/login-bg.png') center center no-repeat;
        background-size: 100% 380px;
    }
    .logo
    {
        width: 426px;
        height: 81px;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom:5%;

        background: url('images/login-logo.png') 0 0 no-repeat;
    }
    .login-wrap
    {
    	position: relative;
    	z-index: 9;
        width: 435px;
        margin: 0 auto;
        .item
        {
            position: relative;

            width: 100%;
            height: 42px;
            margin-bottom: 20px;
            padding-left: 40px;

            border: 1px solid #ddd;
            border-radius: 4px;
            input
            {
                font-size: 16px;
                line-height: 40px;

                width: 100%;
                height: 40px;
                padding: 0 10px;

                color: #333;
                // margin-top: 5px;
                border: none;
                border-radius: 4px;
            }
            i
            {
                position: absolute;
                top: 0;
                left: 0;

                display: inline-block;

                width: 40px;
                height: 40px;

                background: url('images/login-account.png') center center no-repeat;
            }
            &:nth-child(2)
            {
                i
                {
                    background: url('images/login-password.png') center center no-repeat;
                }
            }
        }
    }
}


input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0 1000px #fff inset ;
}
.btn-group
{
    padding-top: 27px;
    button
    {
        font-size: 16px;
        line-height: 40px;

        float: left;

        width: 200px;
        height: 40px;
        margin: 0;
        padding: 0;

        cursor: pointer;
        user-select: none;
        text-align: center;

        border: none;
        border-radius: 26px;
        outline: none;

        appearance: none;
         + button
        {
            margin-left: 35px;

            white-space: nowrap;
        }
        &:nth-child(1)
        {
            color: #fff;
            background: #2fb468;
            &:hover
            {
                background-color: #22c76a;
            }
        }
        &:nth-child(2)
        {
            color: #bbb;
            background: #f2f2f2;
        }
    }
}
