{#
  上传凭证的信息
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="page-group">
      <link rel="stylesheet" href="stylesheets/pages/upDeliverGood.css">
      <div class="page page-current upDeliverGood-wrap" id='upDeliverGood' style="display: block">
        <header class="bar bar-nav">
          <a class="button button-link button-nav pull-left J_goBack">
            <span class="icon icon-left"></span>
          </a>
          <h1 class='title J_input_title'>上传发货凭据</h1>
        </header>
        <div class="content J_input_content">
          
        </div>
      </div>
      <script src="javascripts/upDeliverGood.js"></script>
    </div>
{% endblock %}


