#addressList{
	.list-block{
		ul{
			padding-left: 0;
		}
		label.label-checkbox input[type="radio"]:checked+.item-media i.icon-form-checkbox {
			background-color: #3FCC3D
		}
		.item-after{
			padding-left: 0;
			margin-left: 0;
		}
		.send-company{
			padding-top: 0.3rem;
		}
		.addr-edit{
			position: absolute;
			right: 0;
			text-align: center;
			vertical-align: middl\e;
			bottom: 0;
			top:0;
			&:after{
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
		}
		.add-more{
			margin-top: 1rem;
		}
	}
}
