.login-banner
    background: #0894ec;
    height: 5rem;
    line-height: 5rem;
    p
        font-size: 2rem;
        color: #fff;
        text-align: center;

.inp-tip
    margin: 0 .85rem;
    padding: .8rem 0 0;
    a
        width: 49.5%;
        height: .8rem;
        line-height: .8rem;
        text-align: center;
        font-size: .75rem;
        color: #7B8B8A;
        &:active
            color: #30B468
        &:first-child
            color: #2fb468;
    p
        text-align: center;
        a
            font-size: .8rem;
            text-decoration: underline;
            