.uploadBill-wrap {
  .item-subtitle{
    padding-left: 10px;
    .item-l {
      display: inline-block;
      text-align: right;
      margin-right: 10px;
    }
  }
  .account-list {
    background-color: #fff;
    .label{
      text-align: left;
      line-height: 2rem;
      padding-left: 0.75rem;
    }
  }
  .account-number{
    line-height: 2.1rem;
    padding-left: 1rem;
  }
  .colorBlock{
    padding-left: 0.75rem;
    margin-top: 10px;
     .item-content{
       .item-inner {
          padding: 10px 0;
          border-right: 1px solid #e7e7e7;
        }
     }
     ul{
        padding: 0;
        width: 100%;
     }
     .item-title.label {
         float: left;
         padding-top: 5px;
      }
      .common-r{
        float: left;
      }
      .item-son-content{

      }
      .del {
          text-align: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
          height: 8.5rem;
      }
      .cannot{
        span{
          color: #ccc;
        }
      }
      .checkbox-wrap{
        overflow: hidden;
        label{
          margin-right: 0.15rem;
        }
      }
      .enter{
        width: 90%;
        padding-right: 5px;
      }
      .checkbox{
        float: left;
      }
  }
   
  .warning{
    border: 1px solid red;
  }
  .col-80 {
    padding-left: 0;
  }
  .up-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .img-upload-label{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #0894ec;
    color: #fff;
    cursor: pointer;
    &:active{
      background-color: #549FCE;
    }
  }
  .disabled{
    background-color: #ccc;
     &:active{
      background-color: #ccc;
    }
  }
  .font {
    display:none;
    font-size: 12px;
  }
  .show{
    display:block;
  }
   .p-bot{
    position: relative;
   }
   .check {
    display: flex;
    .check-l {
      
    }
    .img {
      flex: 3;
      flex-wrap: wrap;
      img {
        margin-top: 0.25rem;
        width: 2rem;
        height: 2rem;
      }
      .cloth {
        margin-right: 0.25rem;
        margin-bottom: 0.1rem;
      }
    }
  }
  .img {
    display: flex;
  }
  .bottomLine {
    border-bottom:1px solid #efefef;
    border-right:1px solid #efefef;
    padding-bottom: 0.25rem;
  }
  .item-img {
    width: 2rem;
    height: 2rem;
    position: relative;
  }
  .upCheckPic {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    text-align: center;
    border:1px dotted #ccc;
    color: #000;
    cursor: pointer;
    &:active{
      background-color: #ccc;
    }
    .file-input{
      display: none;
    }
    .for-text{
      overflow: hidden;
      position: relative;
    }
  }
  .plus {
    height:2.5rem;
    line-height: 2.5rem;
    text-align: right;
    color: #000;
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 50px;
    .plus-w{
      width: 20%;
      display: inline-block;
      text-align: center;
      color: #000;
      background-color: #ccc;
      &:active{
        background-color: #ccc;
      }
    }
    .yhide {
      display: none;
    }
  }

  
}
