
<% if xjz >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=xjz">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              询价中
            </div>
            <div class='pull-left number'>
              （<$ xjz $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>

<% if sfkz >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=sfkz">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              收付款中
            </div>
            <div class='pull-left number'>
              （<$ sfkz $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>

<% if thz >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=thz">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              提货中
            </div>
            <div class='pull-left number'>
              （<$ thz $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>

<% if yhz >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=yhz">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              验货中
            </div>
            <div class='pull-left number'>
              （<$ yhz $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>

<% if hhz >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=hhz">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              换货中
            </div>
            <div class='pull-left number'>
              （<$ hhz $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>

<% if fhz >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=fhz">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              发货中
            </div>
            <div class='pull-left number'>
              （<$ fhz $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>

<% if gd >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=gd">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              归档
            </div>
            <div class='pull-left number'>
              （<$ gd $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>

<% if skz >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=skz">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              收款中
            </div>
            <div class='pull-left number'>
              （<$ skz $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>

<% if fkz >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=fkz">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              付款中
            </div>
            <div class='pull-left number'>
              （<$ fkz $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>

<% if sfk >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=sfk">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              收付款
            </div>
            <div class='pull-left number'>
              （<$ sfk $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>

<!-- 找版 -->
<% if dfprw >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=dfprw">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              待分配任务
            </div>
            <div class='pull-left number'>
              （<$ dfprw $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>
<% if zbz >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=zbz">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              找版中
            </div>
            <div class='pull-left number'>
              （<$ zbz $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>
<!-- 找版end -->
<!-- 剪版 -->
<% if jbz >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=jbz">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              剪版中
            </div>
            <div class='pull-left number'>
              （<$ jbz $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>
<% if dsh >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=dsh">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              待审核
            </div>
            <div class='pull-left number'>
              （<$ dsh $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>
<!-- 剪版end -->

<% if yqx >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=yqx">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              已取消
            </div>
            <div class='pull-left number'>
              （<$ yqx $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>

<% if ywc >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=ywc">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              已完成
            </div>
            <div class='pull-left number'>
              （<$ ywc $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>
<% if ytjsh >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=ytjsh">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              已提交审核
            </div>
            <div class='pull-left number'>
              （<$ ytjsh $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>
<% if yshwb >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=yshwb">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              已审核完毕
            </div>
            <div class='pull-left number'>
              （<$ yshwb $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>

<% if all >= 0 %>
  <div class="card money-list-card">
    <div class="card-content">
       <a class="block item-link item-content J_jumpBuyList" href="/buyList.html?listKey=all">
          <div class="card-content-inner "  >
            <div class='pull-left img'>
              全部
            </div>
            <div class='pull-left number'>
              （<$ all $>个）
            </div>
            <span class="icon icon-right pull-right fix-icon"></span>
          </div>
        </a>
    </div>
  </div>
<% endif %>
